aiomysql==0.2.0 #   Vulnerabilities: None
aiosqlite==0.19.0 #   Vulnerabilities: None
asyncpg==0.28.0 #   Vulnerabilities: None
autoflake==2.2.1 #  From none |   Vulnerabilities: None
black==23.10.1 #   Vulnerabilities: None
bump-pydantic==0.7.0 #   Vulnerabilities: None
devsetgo-lib==0.10.1 #   Vulnerabilities: None
fastapi[all]==0.104.1 #  From 0.104.0 |   Vulnerabilities: None
isort==5.12.0 #  From none |   Vulnerabilities: None
py-cpuinfo==9.0.0 #  From none |   Vulnerabilities: None
pydantic[email]==2.4.2 #   Vulnerabilities: None
pytest==7.4.3 #   Vulnerabilities: None
pytest-asyncio==0.21.1 #  From none |   Vulnerabilities: None
python-dotenv==1.0.0 #   Vulnerabilities: None
sqlalchemy==2.0.22 #   Vulnerabilities: None
tqdm==4.66.1 #   Vulnerabilities: None
xmltodict==0.13.0 #  From none |   Vulnerabilities: None
